sessions/
dist/
.dev/
node_modules/
src/accounts.json
src/config.json
/.vscode
/diagnostics
note
accounts.dev.json
accounts.main.json
.DS_Store
.playwright-chromium-installed
bun.lock
logs/
.stfolder/
.agent
getuserinfo.txt
logs.txt

# Custom Wordlist
wordlist.txt
src/wordlist_tracking.json
